<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('./partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>MDA API Apps</h1>
        <p>MDA API Apps is an app dedicated to get data from MDA Oracle Tables Team and export it to JSON files for data visualisation.</p>
    </div>
</main>

<footer>
    <%- include('./partials/footer'); %>
</footer>

</body>
</html>